*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(214, 212, 99, 0.767);
    font-size: 100%;
}



.section-text{
    margin-right: 20px;
    padding: 10px;
    text-align: end;
    border-right: 1px solid black;
}

.liens{
    font-size: 15px !important;
}
a{
    color: brown;
    font-family: ' sans-serif';
    font-style: italic;
    text-decoration: none;
}


  
.container {
    border: 1px solid transparent;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
header {
    text-align: center;
    margin-bottom: 30px;
}
  
header h1 {
    margin: 0;
    font-size: 2em;
}
  
section {
    margin-bottom: 20px;
}
  
section h2 {
    background: brown;
    color: #fff;
    padding: 10px;
}
  
.job {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 3px solid brown;
}

.container2{
    width: 500px;
    padding: 10px;
    margin: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container3{
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image{
    width: 300px;
    height: auto;
    border-radius: 20px;
}

footer{
    text-align: center;
}

.card{
    display: none;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 767px) {

  .container {
    display: grid;
    place-items: center;
    
  }
.container2, .container3 {
    width: 80%;
}
.section-text{
    border: none;
    text-align: center;
    margin: 0;
}

.div-image{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 70%;
}
.contacts{
    display: grid;
    place-items: center;
}
}

.def{
    display: none;
}

a:hover{
    color: rgb(231, 17, 17);
    font-weight: bold;
}

.active{
    color: rgb(231, 17, 17);
    font-weight: bold;
}




  
